/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
/*     color: #fff;
    background: #2c2f48; */
    justify-content: center;
}
.text {
    color: fff;
}
.contact-container{
    position: absolute;
    left: 2%;
    top: 16.5%;
    height: 80%;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    overflow: hidden;

    background: linear-gradient(103.28deg, rgba(255, 255, 255, 0.1) -20.98%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;

}
.form-container{
    padding:20px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form{
    display:grid;
    row-gap: 1rem;
}
.contact-form input, 
.contact-form textarea,
.contact-form button{
 width: 100%;
 border: none;
 outline: none;
 background: #2c2f48;
 padding: 10px;
 font-size: 0.9rem;
 color: #fff;
 border-radius: 0.4rem;
} 
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border:none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contact-form .send-button:hover{
    background: hsl(181, 100%,44%, 0.8);
    transition: 0.3s all linear;
}
.map iframe{
    width: 100%;
    height: 100% ;
}
