@font-face {
    font-family: 'Bison';
    src: url(../Fonts/Bison-Bold.ttf) format('truetype');
}

nav{
  height: 70px;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0rem;
}
nav .brand{
    margin-left: 1rem;
}
nav .brand img{
    height: 50px;
    margin: 0 0px;
}
nav .brand a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    transition: .3s ease;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 10px;
    
    

}
nav ul li a{
    text-decoration: none;
    color:white;
    padding: 5px;
    position: relative;
    transition: .3s ease;

    
}
nav ul li a :hover{
    color: white;
}
nav ul li a::after{
    content:'';
    width:100%;
    height: 3px;
    position:absolute;
    bottom: 0;
    left: 0;
    background: white;
    transform: scaleX(0);
    transition: .3s ease-in-out;
    transform-origin: left;
}
nav ul li a:hover::after{
    transform:scaleX(1);
}



