@font-face {
    font-family: 'Bison';
    src: url(../Fonts/Bison-Bold.ttf) format('truetype');
}


/* Overview */
.overview {
    box-sizing: border-box;
    
    position: absolute;
    width: 76.676056%;
    height: 67.09129%;
    left: 21.859156%;
    top: 16.5%;
    
    background: linear-gradient(103.28deg, rgba(255, 255, 255, 0.1) -20.98%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

/* Timer */
.timer {
box-sizing: border-box;

position: absolute;
width: 23.952976%;
height: 74.747475%;
left: 74.136665%;
top: 13.131313%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

/* time frame */
.time-frame {
box-sizing: border-box;

position: absolute;
width: 40.797546%;
height: 100%;
left: 59.202457%;
top: 0%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

/* choice 1 */
.C1-button {
box-sizing: border-box;

position: absolute;
width: 47.09772%;
height: 9.973046%;
left: 1.9838353%;
top: 72%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

/* choice 2 */
.C2-button {
box-sizing: border-box;

position: absolute;
width: 47.09772%;
height: 9.973046%;
left: 50.991917%;
top: 72%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

/* choice 3 */
.C3-button {
box-sizing: border-box;

position: absolute;
width: 47.09772%;
height: 9.973046%;
left: 1.9838353%;
top: 86%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

/* choice 4 */
.C4-button {
box-sizing: border-box;

position: absolute;
width: 47.09772%;
height: 9.973046%;
left: 50.991917%;
top: 86%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

.Exit-button {
/* exit */

box-sizing: border-box;

position: absolute;
width: 37.633804%;
height: 9.023355%;
left: 21.859156%;
top: 87.26115%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

.Next-button {
/* next question */

box-sizing: border-box;

position: absolute;
width: 37.577465%;
height: 9.023355%;
left: 60.95775%;
top: 87.26115%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

.time-num {
    /* 60 */
font-family: 'Bison';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
text-align: center;
text-indent: 0%;

color: #FFFFFF;
}

.time-text {
font-family: 'Bison';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;
text-align: left;
text-indent: 12%;

color: #FFFFFF;
}

.OV-header {
    /* Header */

position: absolute;
width: 100%;
height: 15.7%;
left: 0%;
top: 0%;

background: rgba(101, 221, 248, 0.2);
mix-blend-mode: normal;
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 50px 50px 0px 0px;

}
.OV-header-text {
/* overview */
position: absolute;
width: 16.5%;
height: 64%;
left: 1%;
top: 20%;

font-family: 'Bison';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 48px;
text-align: center;

color: #FFFFFF;
}

.hide {
    display: none;
}
.start {
    /* next question */

box-sizing: border-box;

position: absolute;
width: 76.676056%;
height: 9.023355%;
left: 21.859156%;
top: 87.26115%;

background: rgba(101, 221, 248, 0.2);
border: 1px solid rgba(101, 221, 248, 0.5);
border-radius: 50px;
}

.padding {
    box-sizing: border-box;

    position: absolute;
    width: 96%;
    height: 50%;
    left: 2%;
    top: 20%;

    overflow-y: auto;

    color: white;
}

/* The rules of this exercise: */
.rules {
position: absolute;
width: 90%;
height: 5%;
left: 3%;
top: 5%;

font-family: 'Bison';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #FFFFFF;
}

.rule-details {
/* 1. You will only have only 60 seconds per each question. 2. Once you select your answer, you can't reselect. 3. You can't select any option once time goes off. 4. You can't exit from the Exercise while you're playing. 5. You'll get points on the basis of your correct answers. */

position: absolute;
width: 90%;
height: 304px;
left: 10%;
top: 20%;

font-family: 'Bison';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;

}

.buttons-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2%;
    margin-bottom: 5%;
}

.choice-button {
    box-sizing: border-box;

    position: absolute;
    width: 47.09772%;
    height: 9.973046%;
    left: 50.991917%;
    top: 86%;

    background: rgba(101, 221, 248, 0.2);
    border: 1px solid rgba(101, 221, 248, 0.5);
    border-radius: 50px;
}

.correct {
    background-color: green;
}
.wrong {
    background-color: red;
}